In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("clean_dataset_after_EDA.csv" ,index_col = 0)

In [3]:
df.head(3)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

In [4]:
from pandas.api.types import is_string_dtype, is_numeric_dtype

num_list = []
cat_list = []

for column in df:
    
    if is_numeric_dtype(df[column]):
        num_list.append(column)
        
    elif is_string_dtype(df[column]):
        cat_list.append(column)



print('Numerical attributes : ',num_list,'\n')

print('Categorical attributes : ',cat_list)

Numerical attributes :  ['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges']

Categorical attributes :  ['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'Churn']

In [5]:
df['tenure'].unique()
# Replacing 0 value with 1 month

array([ 1, 34,  2, 45,  8, 22, 10, 28, 62, 13, 16, 58, 49, 25, 69, 52, 71,
       21, 12, 30, 47, 72, 17, 27,  5, 46, 11, 70, 63, 43, 15, 60, 18, 66,
        9,  3, 31, 50, 64, 56,  7, 42, 35, 48, 29, 65, 38, 68, 32, 55, 37,
       36, 41,  6,  4, 33, 67, 23, 57, 61, 14, 20, 53, 40, 59, 24, 44, 19,
       54, 51, 26,  0, 39], dtype=int64)

In [6]:
df['tenure'] = df['tenure'].replace([0],1)

In [7]:
df['tenure'].unique()

array([ 1, 34,  2, 45,  8, 22, 10, 28, 62, 13, 16, 58, 49, 25, 69, 52, 71,
       21, 12, 30, 47, 72, 17, 27,  5, 46, 11, 70, 63, 43, 15, 60, 18, 66,
        9,  3, 31, 50, 64, 56,  7, 42, 35, 48, 29, 65, 38, 68, 32, 55, 37,
       36, 41,  6,  4, 33, 67, 23, 57, 61, 14, 20, 53, 40, 59, 24, 44, 19,
       54, 51, 26, 39], dtype=int64)

In [8]:
df['tenure'] = np.ceil(df['tenure']/12).astype(int)

In [9]:
df['tenure'].value_counts()

1    2164
6    1407
2    1024
3     832
5     832
4     762
Name: tenure, dtype: int64

In [10]:
# Dependent column : ordinal encode

df['Churn'] = np.where(df['Churn'] == 'Yes' , 1,0 )

In [11]:
df['Churn'].value_counts()

# Highly imbalanced data

0    5164
1    1857
Name: Churn, dtype: int64

## With Imbalance Data

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

from sklearn.pipeline import Pipeline                
from sklearn.compose import ColumnTransformer

from sklearn.model_selection import train_test_split

## Features and Target split

In [13]:
X = df.drop(['Churn'] , axis = 1)
y = df['Churn']

In [14]:
X.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges'],
      dtype='object')

In [15]:
y.head()

0    0
1    0
2    1
3    0
4    1
Name: Churn, dtype: int32

In [16]:
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size=0.2 , random_state= 100)

In [17]:
X_train.shape , y_train.shape

(5616, 19)

In [18]:
X_test.shape ,y_test.shape

(1405, 19)

In [21]:
num_features = num_list.copy()

cat_features = cat_list.copy()
cat_features.remove('Churn')

### Pipelines - numerical and categorical features

In [4]:
ohe = OneHotEncoder()

In [5]:
num_pipeline = Pipeline([('Imputer' , SimpleImputer(strategy='median'))                       
                        ])

In [6]:
cat_pipline = Pipeline([('Nominal Encoding' ,ohe)])

### Main Pipeline

In [7]:
pipeline = ColumnTransformer([("Num pipeline" , num_pipeline , num_features),
                              ("Cat pipeline" , cat_pipline , cat_features)
                             ])

NameError: name 'num_features' is not defined

## Transforming

In [28]:
X_train_tr = pipeline.fit_transform(X_train)

In [29]:
X_test_tr = pipeline.transform(X_test)

In [30]:
feat = pipeline.get_feature_names_out()
feat

array(['Num pipeline__SeniorCitizen', 'Num pipeline__tenure',
       'Num pipeline__MonthlyCharges', 'Num pipeline__TotalCharges',
       'Nominal pipeline__gender_Female', 'Nominal pipeline__gender_Male',
       'Nominal pipeline__Partner_No', 'Nominal pipeline__Partner_Yes',
       'Nominal pipeline__Dependents_No',
       'Nominal pipeline__Dependents_Yes',
       'Nominal pipeline__PhoneService_No',
       'Nominal pipeline__PhoneService_Yes',
       'Nominal pipeline__MultipleLines_No',
       'Nominal pipeline__MultipleLines_No phone service',
       'Nominal pipeline__MultipleLines_Yes',
       'Nominal pipeline__InternetService_DSL',
       'Nominal pipeline__InternetService_Fiber optic',
       'Nominal pipeline__InternetService_No',
       'Nominal pipeline__OnlineSecurity_No',
       'Nominal pipeline__OnlineSecurity_No internet service',
       'Nominal pipeline__OnlineSecurity_Yes',
       'Nominal pipeline__OnlineBackup_No',
       'Nominal pipeline__OnlineBackup_No internet service',
       'Nominal pipeline__OnlineBackup_Yes',
       'Nominal pipeline__DeviceProtection_No',
       'Nominal pipeline__DeviceProtection_No internet service',
       'Nominal pipeline__DeviceProtection_Yes',
       'Nominal pipeline__TechSupport_No',
       'Nominal pipeline__TechSupport_No internet service',
       'Nominal pipeline__TechSupport_Yes',
       'Nominal pipeline__StreamingTV_No',
       'Nominal pipeline__StreamingTV_No internet service',
       'Nominal pipeline__StreamingTV_Yes',
       'Nominal pipeline__StreamingMovies_No',
       'Nominal pipeline__StreamingMovies_No internet service',
       'Nominal pipeline__StreamingMovies_Yes',
       'Nominal pipeline__Contract_Month-to-month',
       'Nominal pipeline__Contract_One year',
       'Nominal pipeline__Contract_Two year',
       'Nominal pipeline__PaperlessBilling_No',
       'Nominal pipeline__PaperlessBilling_Yes',
       'Nominal pipeline__PaymentMethod_Bank transfer (automatic)',
       'Nominal pipeline__PaymentMethod_Credit card (automatic)',
       'Nominal pipeline__PaymentMethod_Electronic check',
       'Nominal pipeline__PaymentMethod_Mailed check'], dtype=object)

In [31]:
out_cols = []

i= 0  # counter

for col in pipeline.get_feature_names_out():
    out_cols.append(col.split("__")[-1])
    #out_cols[i] = out_cols[i].split("_")[-1]
    
    i += 1
print(out_cols)

['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges', 'gender_Female', 'gender_Male', 'Partner_No', 'Partner_Yes', 'Dependents_No', 'Dependents_Yes', 'PhoneService_No', 'PhoneService_Yes', 'MultipleLines_No', 'MultipleLines_No phone service', 'MultipleLines_Yes', 'InternetService_DSL', 'InternetService_Fiber optic', 'InternetService_No', 'OnlineSecurity_No', 'OnlineSecurity_No internet service', 'OnlineSecurity_Yes', 'OnlineBackup_No', 'OnlineBackup_No internet service', 'OnlineBackup_Yes', 'DeviceProtection_No', 'DeviceProtection_No internet service', 'DeviceProtection_Yes', 'TechSupport_No', 'TechSupport_No internet service', 'TechSupport_Yes', 'StreamingTV_No', 'StreamingTV_No internet service', 'StreamingTV_Yes', 'StreamingMovies_No', 'StreamingMovies_No internet service', 'StreamingMovies_Yes', 'Contract_Month-to-month', 'Contract_One year', 'Contract_Two year', 'PaperlessBilling_No', 'PaperlessBilling_Yes', 'PaymentMethod_Bank transfer (automatic)', 'PaymentMethod_Credit card (automatic)', 'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check']

In [32]:
len(out_cols)

45

In [33]:
X_train_tr_df = pd.DataFrame(X_train_tr, columns=out_cols)

X_test_tr_df = pd.DataFrame(X_test_tr , columns = out_cols)

In [34]:
X_train_tr_df.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0.0,1.0,50.80,50.80,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.0,4.0,20.45,781.25,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0.0,1.0,19.55,19.55,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.0,1.0,80.05,80.05,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,1.0,60.15,60.15,1.0,0.0,1.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [35]:
X_test_tr_df.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0.0,4.0,90.65,3974.15,0.0,1.0,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
1,1.0,6.0,110.90,7432.05,0.0,1.0,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.0,1.0,85.80,272.20,1.0,0.0,1.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,94.05,518.75,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,6.0,90.35,6325.25,0.0,1.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0

In [36]:
X_train_tr_df.shape

(5616, 45)

In [37]:
X_test_tr_df.shape

(1405, 45)

## Training models with Imbalance data

In [38]:
from sklearn.metrics import classification_report

In [39]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [40]:
models = [LogisticRegression(max_iter=1000), SVC(), GaussianNB(),DecisionTreeClassifier(), RandomForestClassifier()]

In [41]:
y_train.value_counts()

0    4114
1    1502
Name: Churn, dtype: int64

In [42]:
y_test.value_counts()

0    1050
1     355
Name: Churn, dtype: int64

In [43]:
import warnings
warnings.filterwarnings('ignore')

In [44]:
for model in models :
    
    model.fit(X_train_tr, y_train)
    # y_hat_train = model.predict(X_train_tr)
    y_hat_test = model.predict(X_test_tr)
    
    print(f"******************* \33[1m{str(model)}\33[0m *******************\n")
    print(f"{str(model)}\n",pd.Series(y_hat_test).value_counts())
    
    print("\nClassification Report : \n")
    print(classification_report(y_test ,y_hat_test,zero_division = 1 ))
    print()

# "warn", 0 or 1

******************* LogisticRegression(max_iter=1000) *******************

LogisticRegression(max_iter=1000)
 0    1098
1     307
dtype: int64

Classification Report :

              precision    recall  f1-score   support

           0       0.85      0.89      0.87      1050
           1       0.62      0.53      0.57       355

    accuracy                           0.80      1405
   macro avg       0.73      0.71      0.72      1405
weighted avg       0.79      0.80      0.79      1405


******************* SVC() *******************

SVC()
 0    1405
dtype: int64

Classification Report :

              precision    recall  f1-score   support

           0       0.75      1.00      0.86      1050
           1       1.00      0.00      0.00       355

    accuracy                           0.75      1405
   macro avg       0.87      0.50      0.43      1405
weighted avg       0.81      0.75      0.64      1405


******************* GaussianNB() *******************

GaussianNB()
 0    725
1    680
dtype: int64

Classification Report :

              precision    recall  f1-score   support

           0       0.92      0.64      0.75      1050
           1       0.44      0.85      0.58       355

    accuracy                           0.69      1405
   macro avg       0.68      0.74      0.67      1405
weighted avg       0.80      0.69      0.71      1405


******************* DecisionTreeClassifier() *******************

DecisionTreeClassifier()
 0    1032
1     373
dtype: int64

Classification Report :

              precision    recall  f1-score   support

           0       0.82      0.81      0.82      1050
           1       0.47      0.49      0.48       355

    accuracy                           0.73      1405
   macro avg       0.65      0.65      0.65      1405
weighted avg       0.73      0.73      0.73      1405


******************* RandomForestClassifier() *******************

RandomForestClassifier()
 0    1135
1     270
dtype: int64

Classification Report :

              precision    recall  f1-score   support

           0       0.83      0.90      0.86      1050
           1       0.61      0.46      0.52       355

    accuracy                           0.79      1405
   macro avg       0.72      0.68      0.69      1405
weighted avg       0.78      0.79      0.78      1405

# <span style = 'background :lightblue'>Merging Features and Target to get the Final clean Dataset</span>

In [45]:
X_train_tr_df = X_train_tr_df.astype(int)

In [46]:
X_train_tr_df.shape

(5616, 45)

In [47]:
y_train.shape

(5616,)

In [48]:
X_test_tr_df.shape

(1405, 45)

In [49]:
y_test.shape

(1405,)

### Merging dataframe

#### (i) Merging Features

In [50]:
X_train_tr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5616 entries, 0 to 5615
Data columns (total 45 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   SeniorCitizen                            5616 non-null   int32
 1   tenure                                   5616 non-null   int32
 2   MonthlyCharges                           5616 non-null   int32
 3   TotalCharges                             5616 non-null   int32
 4   gender_Female                            5616 non-null   int32
 5   gender_Male                              5616 non-null   int32
 6   Partner_No                               5616 non-null   int32
 7   Partner_Yes                              5616 non-null   int32
 8   Dependents_No                            5616 non-null   int32
 9   Dependents_Yes                           5616 non-null   int32
 10  PhoneService_No                          5616 non-null   int32
 11  PhoneService_Yes                         5616 non-null   int32
 12  MultipleLines_No                         5616 non-null   int32
 13  MultipleLines_No phone service           5616 non-null   int32
 14  MultipleLines_Yes                        5616 non-null   int32
 15  InternetService_DSL                      5616 non-null   int32
 16  InternetService_Fiber optic              5616 non-null   int32
 17  InternetService_No                       5616 non-null   int32
 18  OnlineSecurity_No                        5616 non-null   int32
 19  OnlineSecurity_No internet service       5616 non-null   int32
 20  OnlineSecurity_Yes                       5616 non-null   int32
 21  OnlineBackup_No                          5616 non-null   int32
 22  OnlineBackup_No internet service         5616 non-null   int32
 23  OnlineBackup_Yes                         5616 non-null   int32
 24  DeviceProtection_No                      5616 non-null   int32
 25  DeviceProtection_No internet service     5616 non-null   int32
 26  DeviceProtection_Yes                     5616 non-null   int32
 27  TechSupport_No                           5616 non-null   int32
 28  TechSupport_No internet service          5616 non-null   int32
 29  TechSupport_Yes                          5616 non-null   int32
 30  StreamingTV_No                           5616 non-null   int32
 31  StreamingTV_No internet service          5616 non-null   int32
 32  StreamingTV_Yes                          5616 non-null   int32
 33  StreamingMovies_No                       5616 non-null   int32
 34  StreamingMovies_No internet service      5616 non-null   int32
 35  StreamingMovies_Yes                      5616 non-null   int32
 36  Contract_Month-to-month                  5616 non-null   int32
 37  Contract_One year                        5616 non-null   int32
 38  Contract_Two year                        5616 non-null   int32
 39  PaperlessBilling_No                      5616 non-null   int32
 40  PaperlessBilling_Yes                     5616 non-null   int32
 41  PaymentMethod_Bank transfer (automatic)  5616 non-null   int32
 42  PaymentMethod_Credit card (automatic)    5616 non-null   int32
 43  PaymentMethod_Electronic check           5616 non-null   int32
 44  PaymentMethod_Mailed check               5616 non-null   int32
dtypes: int32(45)
memory usage: 987.3 KB

In [51]:
X_test_tr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1405 entries, 0 to 1404
Data columns (total 45 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   SeniorCitizen                            1405 non-null   float64
 1   tenure                                   1405 non-null   float64
 2   MonthlyCharges                           1405 non-null   float64
 3   TotalCharges                             1405 non-null   float64
 4   gender_Female                            1405 non-null   float64
 5   gender_Male                              1405 non-null   float64
 6   Partner_No                               1405 non-null   float64
 7   Partner_Yes                              1405 non-null   float64
 8   Dependents_No                            1405 non-null   float64
 9   Dependents_Yes                           1405 non-null   float64
 10  PhoneService_No                          1405 non-null   float64
 11  PhoneService_Yes                         1405 non-null   float64
 12  MultipleLines_No                         1405 non-null   float64
 13  MultipleLines_No phone service           1405 non-null   float64
 14  MultipleLines_Yes                        1405 non-null   float64
 15  InternetService_DSL                      1405 non-null   float64
 16  InternetService_Fiber optic              1405 non-null   float64
 17  InternetService_No                       1405 non-null   float64
 18  OnlineSecurity_No                        1405 non-null   float64
 19  OnlineSecurity_No internet service       1405 non-null   float64
 20  OnlineSecurity_Yes                       1405 non-null   float64
 21  OnlineBackup_No                          1405 non-null   float64
 22  OnlineBackup_No internet service         1405 non-null   float64
 23  OnlineBackup_Yes                         1405 non-null   float64
 24  DeviceProtection_No                      1405 non-null   float64
 25  DeviceProtection_No internet service     1405 non-null   float64
 26  DeviceProtection_Yes                     1405 non-null   float64
 27  TechSupport_No                           1405 non-null   float64
 28  TechSupport_No internet service          1405 non-null   float64
 29  TechSupport_Yes                          1405 non-null   float64
 30  StreamingTV_No                           1405 non-null   float64
 31  StreamingTV_No internet service          1405 non-null   float64
 32  StreamingTV_Yes                          1405 non-null   float64
 33  StreamingMovies_No                       1405 non-null   float64
 34  StreamingMovies_No internet service      1405 non-null   float64
 35  StreamingMovies_Yes                      1405 non-null   float64
 36  Contract_Month-to-month                  1405 non-null   float64
 37  Contract_One year                        1405 non-null   float64
 38  Contract_Two year                        1405 non-null   float64
 39  PaperlessBilling_No                      1405 non-null   float64
 40  PaperlessBilling_Yes                     1405 non-null   float64
 41  PaymentMethod_Bank transfer (automatic)  1405 non-null   float64
 42  PaymentMethod_Credit card (automatic)    1405 non-null   float64
 43  PaymentMethod_Electronic check           1405 non-null   float64
 44  PaymentMethod_Mailed check               1405 non-null   float64
dtypes: float64(45)
memory usage: 494.1 KB

In [52]:
X_concat = pd.concat([X_train_tr_df, X_test_tr_df.astype(int)],ignore_index = True)

In [53]:
X_concat.shape

(7021, 45)

In [54]:
X_concat.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,1,50,50,0,1,1,0,1,0,...,0,1,0,0,1,0,0,0,1,0
1,0,4,20,781,1,0,0,1,0,1,...,0,1,0,0,1,0,0,0,0,1
2,0,1,19,19,0,1,1,0,1,0,...,0,1,0,0,1,0,0,0,0,1
3,0,1,80,80,1,0,0,1,0,1,...,0,1,0,0,0,1,0,0,0,1
4,0,1,60,60,1,0,1,0,1,0,...,1,1,0,0,0,1,0,0,1,0

In [55]:
X_concat.index

RangeIndex(start=0, stop=7021, step=1)

In [56]:
y.shape

(7021,)

In [57]:
y.head()

0    0
1    0
2    1
3    0
4    1
Name: Churn, dtype: int32

In [ ]:
y_comb = pd.concat([y_train ,y_test])

#### (ii) Merging Feature and Target

In [58]:
final_df = pd.concat([X_concat,y_comb] ,axis = 1)

In [59]:
final_df.shape

(7021, 46)

In [60]:
final_df.index

RangeIndex(start=0, stop=7021, step=1)

In [61]:
final_df.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn
0,0,1,50,50,0,1,1,0,1,0,...,1,0,0,1,0,0,0,1,0,0
1,0,4,20,781,1,0,0,1,0,1,...,1,0,0,1,0,0,0,0,1,0
2,0,1,19,19,0,1,1,0,1,0,...,1,0,0,1,0,0,0,0,1,1
3,0,1,80,80,1,0,0,1,0,1,...,1,0,0,0,1,0,0,0,1,0
4,0,1,60,60,1,0,1,0,1,0,...,1,0,0,0,1,0,0,1,0,1

In [62]:
final_df.to_csv("final_clean_dataset.csv")