In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## STEP 1 : Data Collection

In [2]:
filepath_House_Price = r"C:\Users\aakas\PythonStuff\Projects\Cali_HP\dataset\housing.csv"

In [3]:
houses = pd.read_csv(filepath_House_Price , header = 0 )

In [4]:
houses.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

## STEP 2 : Outlier Treatment - Trimming

In [5]:
df_trim = houses.copy()

In [6]:
df_trim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [7]:
# Z-score for Normally or almost normally distributed data
norcol = []
skewcol = ['total_rooms','total_bedrooms', 'population','households', 'median_income']

In [8]:
def trimming(DF ,nor_col = [],skew_col = [] ):
    
    # loop for normally or almost normally distributed data
    for col in nor_col :

        # Finding mean and Std
        mean_col = DF[col].mean()
        std_col = DF[col].std()

        # Finding lower and upper limits
        lower_limit = mean_col - 3*std_col
        upper_limit = mean_col + 3*std_col

        DF = DF[(DF[col] > lower_limit)  & (DF[col] < upper_limit)]


    # loop for skew data
    for col in skew_col :

        # Finding IQR
        percentile25 = DF[col].quantile(0.25)
        percentile75 = DF[col].quantile(.75)

        # Compute IQR
        IQR = percentile75 - percentile25

        # Finding lower and upper limits
        lowerlimit = percentile25 - 1.5*IQR
        upperlimit = percentile75 + 1.5*IQR

        # Trimming
        DF = DF[(DF[col]> lowerlimit) & (DF[col] < upperlimit) ]
    
    return DF

In [9]:
df_trim = trimming(DF = df_trim , nor_col= norcol , skew_col= skewcol )

In [10]:
df_trim.shape

(17358, 10)

In [11]:
df_trim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17358 entries, 2 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17358 non-null  float64
 1   latitude            17358 non-null  float64
 2   housing_median_age  17358 non-null  float64
 3   total_rooms         17358 non-null  float64
 4   total_bedrooms      17358 non-null  float64
 5   population          17358 non-null  float64
 6   households          17358 non-null  float64
 7   median_income       17358 non-null  float64
 8   median_house_value  17358 non-null  float64
 9   ocean_proximity     17358 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.5+ MB

## STEP 3 : Multi-Variate Analysis

In [12]:
df_trim["rooms_per_household"] = df_trim["total_rooms"]/df_trim["households"]
df_trim["bedrooms_per_room"] = df_trim["total_bedrooms"]/df_trim["total_rooms"]
df_trim["population_per_household"]=df_trim["population"]/df_trim["households"]

In [13]:
df_trim.corrwith(other = df_trim['median_house_value'] ,numeric_only= True).sort_values(ascending=False, 
                                                                         key=lambda x: abs(x))

median_house_value          1.000000
median_income               0.634824
population_per_household   -0.216096
bedrooms_per_room          -0.201474
total_rooms                 0.187388
latitude                   -0.162407
housing_median_age          0.131417
households                  0.104289
rooms_per_household         0.099061
total_bedrooms              0.081612
population                 -0.052394
longitude                  -0.032198
dtype: float64



#### so checking them for multicollinarity

- **Threshold value** of VIF is : VIF >= 10 for dropping a column

In [14]:
mc_feat = ['population_per_household','bedrooms_per_room','rooms_per_household','total_rooms',
           'total_bedrooms','population', 'households']

In [15]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

#### Syntax : variance_inflation_factor(exog, exog_idx)

- **Explanation :**

    One recommendation is that if VIF is greater than 5, then the explanatory variable given by 

    'exog_idx' is highly collinear with the other explanatory variables, and 

    the parameter estimates will have large standard errors because of this.

In [16]:
df_houses = df_trim.copy()

In [17]:
len(df_houses)

17358

In [18]:
df_houses.dropna(inplace = True)

In [19]:
# Defining custom function for calculating VIF

def compute_vif(feature_list ,dataframe):
    
    X = dataframe[feature_list]
    
    # Dropping any NaN values
    X.dropna(inplace = True)
    
    # Adding constant column in X
    X  = add_constant(X ,prepend=True)
    
    # Creating DF for storing VIF values
    vif = pd.DataFrame()
    vif['variable'] = X.columns
    
    
    vif['VIF'] = [variance_inflation_factor(X.values ,i) for i in range(X.shape[1])]
    
    vif = vif[vif['variable'] != 'const']
    
    return vif

In [20]:
import warnings 

warnings.filterwarnings("ignore")

In [21]:
compute_vif(feature_list = mc_feat ,dataframe = df_houses)

                   variable        VIF
1  population_per_household   1.949668
2         bedrooms_per_room   3.182739
3       rooms_per_household   1.764476
4               total_rooms  14.575475
5            total_bedrooms  29.065109
6                population   7.111541
7                households  30.577407

In [22]:
# lets remove 'households' column

mc_feat.remove('households')

In [23]:
compute_vif(feature_list = mc_feat , dataframe  = df_houses)

                   variable        VIF
1  population_per_household   1.757988
2         bedrooms_per_room   3.139336
3       rooms_per_household   1.311149
4               total_rooms  14.374397
5            total_bedrooms  14.561754
6                population   5.387746

In [24]:
# lets remove 'rooms_per_household' column

mc_feat.remove('rooms_per_household')

In [25]:
compute_vif(feature_list = mc_feat , dataframe  = df_houses)

                   variable        VIF
1  population_per_household   1.708963
2         bedrooms_per_room   3.089836
3               total_rooms  13.960624
4            total_bedrooms  14.557693
5                population   4.859323

In [26]:
# lets remove 'total_bedrooms' column

mc_feat.remove('total_bedrooms')

In [27]:
compute_vif(feature_list = mc_feat , dataframe  = df_houses)

                   variable       VIF
1  population_per_household  1.529781
2         bedrooms_per_room  1.484322
3               total_rooms  4.572094
4                population  4.180423

#### Conclusion : we have to do feature enginnering

- **population** and **households** columns are highly correlated ,so we can drop **households** column.

## STEP 5 : Drop Irrelevent Features

In [28]:
drop_col = ['households' , 'rooms_per_household' , 'total_bedrooms']

In [29]:
df_export = df_trim.drop(labels = drop_col ,axis = 1)

In [30]:
df_export.head(2)

,longitude,latitude,housing_median_age,total_rooms,population,median_income,median_house_value,ocean_proximity,bedrooms_per_room,population_per_household
2,-122.24,37.85,52.0,1467.0,496.0,7.2574,352100.0,NEAR BAY,0.129516,2.802260
3,-122.25,37.85,52.0,1274.0,558.0,5.6431,341300.0,NEAR BAY,0.184458,2.547945

## STEP 5 : Export the DF as a .csv file.

In [31]:
df_export.to_csv("S2_Part2_test_DataPreprocessing_Trimming1.csv")