In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## STEP 1 : Import Transforrmed Dataset

In [2]:
filepath_train = r"S2a_Part3_pipeline_outlier_trimming_Train_DS.csv"
filepath_test = r"S2a_Part3_pipeline_outlier_trimming_Test_DS.csv"

In [3]:
d_train = pd.read_csv(filepath_train  ,index_col= 0 , header= 0)
d_test = pd.read_csv(filepath_test  ,index_col= 0 , header= 0)

In [4]:
d_train.head(3)

,crime_rate,resid_area,air_qual,room_num,age,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,dist,airport_NO,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_None,waterbody_River,price
0,1.750941,1.035280,1.019549,-0.074765,1.128863,-0.813975,1.194251,-0.019931,-0.356733,0.562485,-1.174428,1.0,0.0,0.0,1.0,0.0,0.0,10.2
1,0.283472,-0.161802,-0.077387,-0.218185,-0.552953,0.039554,-0.958566,0.209591,0.350918,0.562485,-0.563210,0.0,1.0,0.0,0.0,0.0,1.0,22.1
2,0.489127,1.251338,0.449488,0.947639,1.036220,1.794031,-1.399167,0.198726,0.031860,1.457145,-0.934830,0.0,1.0,0.0,0.0,1.0,0.0,41.3

In [5]:
d_test.head(3)

,crime_rate,resid_area,air_qual,room_num,age,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,dist,airport_NO,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_None,waterbody_River,price
0,-1.148833,-1.385161,-1.286608,1.417661,-1.069612,2.789815,-0.789224,1.533755,0.195398,0.318486,1.721522,1.0,0.0,1.0,0.0,0.0,0.0,34.6
1,0.009692,-0.701948,-0.422879,0.392417,-1.671787,0.513737,-1.731375,-0.409711,0.363912,0.643817,-0.203814,0.0,1.0,0.0,0.0,1.0,0.0,31.5
2,-1.062466,0.134549,0.173094,-0.221025,0.298645,-1.193321,-0.262952,-0.897276,0.003244,-1.552167,-0.734351,0.0,1.0,0.0,1.0,0.0,0.0,20.6

## STEP 2 :  Train - Test Split

In [6]:
X_train = d_train.drop(labels= ['price'] , axis = 1)
y_train = d_train['price']

X_test = d_test.drop(labels= ['price'] , axis = 1)
y_test = d_test['price']

In [7]:
X_train.shape , y_train.shape

((385, 17), (385,))

In [8]:
X_test.shape , y_test.shape

((102, 17), (102,))

## STEP 3 : Training models

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.neighbors import KNeighborsRegressor

In [10]:
from sklearn.metrics import mean_squared_error,r2_score

### Various Algorithms for Regression Task : 

- Linear Regression, Polynomial Regression, Ridge Regression, Lasso Regression, Elastic Net Regression.
- Support Vector Regression (SVR),
- Decision Tree Regression, 
- Random Forest Regression, and 
- Gradient Boosting Regression.

In [11]:
models = [LinearRegression(), SVR(),KNeighborsRegressor(), DecisionTreeRegressor(), RandomForestRegressor(), ]

In [12]:
import warnings
warnings.filterwarnings('ignore')

In [13]:
def ModelTraining(ML_models , X_train ,y_train ,X_test,y_test):
    
    for model in ML_models :

        model.fit(X_train.values, y_train)
        y_hat_train = model.predict(X_train.values)
        y_hat_test = model.predict(X_test.values)

        print(f"******************* \33[1m{str(model)}\33[0m *******************\n")

        print("\33[1mTraining Report :\33[0m \n")
        print("Mean Squared Error : ",round(mean_squared_error(y_train,y_hat_train),2))
        print("RMSE : ",round(np.sqrt(mean_squared_error(y_train,y_hat_train)),2))
        print("R2 Square : ",r2_score(y_train,y_hat_train))

        print() 

        print("\33[1mTesting Report :\33[0m \n")
        print("Mean Squared Error : ",round(mean_squared_error(y_test,y_hat_test),2))
        print("RMSE : ",round(np.sqrt(mean_squared_error(y_test,y_hat_test)),2))
        print("R2 Square : ",r2_score(y_test,y_hat_test))


        print()

In [14]:
ModelTraining(ML_models = models ,  X_train = X_train ,y_train = y_train ,
                   X_test = X_test, y_test = y_test)

******************* LinearRegression() *******************

Training Report :

Mean Squared Error :  17.59
RMSE :  4.19
R2 Square :  0.764512466339562

Testing Report :

Mean Squared Error :  21.19
RMSE :  4.6
R2 Square :  0.7804152235405064

******************* SVR() *******************

Training Report :

Mean Squared Error :  24.55
RMSE :  4.95
R2 Square :  0.671299536447181

Testing Report :

Mean Squared Error :  35.59
RMSE :  5.97
R2 Square :  0.631145644754822

******************* KNeighborsRegressor() *******************

Training Report :

Mean Squared Error :  15.34
RMSE :  3.92
R2 Square :  0.794534104520759

Testing Report :

Mean Squared Error :  21.06
RMSE :  4.59
R2 Square :  0.7817455778468224

******************* DecisionTreeRegressor() *******************

Training Report :

Mean Squared Error :  0.0
RMSE :  0.0
R2 Square :  1.0

Testing Report :

Mean Squared Error :  21.32
RMSE :  4.62
R2 Square :  0.7790109816285917

******************* RandomForestRegressor() *******************

Training Report :

Mean Squared Error :  1.37
RMSE :  1.17
R2 Square :  0.9816069933858217

Testing Report :

Mean Squared Error :  11.82
RMSE :  3.44
R2 Square :  0.8775311532766057