In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## STEP 1 : Data Collection

In [2]:
filepath_House_Price = r"S3_Part2_test_FE_VIF.csv"

In [3]:
houses = pd.read_csv(filepath_House_Price , header = 0 ,index_col= 0)

In [4]:
houses.head()

,longitude,latitude,housing_median_age,total_rooms,population,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household
0,-122.23,37.88,41.0,880.0,322.0,8.3252,452600.0,NEAR BAY,6.984127,0.146591,2.555556
1,-122.22,37.86,21.0,7099.0,2401.0,8.3014,358500.0,NEAR BAY,6.238137,0.155797,2.109842
2,-122.24,37.85,52.0,1467.0,496.0,7.2574,352100.0,NEAR BAY,8.288136,0.129516,2.802260
3,-122.25,37.85,52.0,1274.0,558.0,5.6431,341300.0,NEAR BAY,5.817352,0.184458,2.547945
4,-122.25,37.85,52.0,1627.0,565.0,3.8462,342200.0,NEAR BAY,6.281853,0.172096,2.181467

In [5]:
houses.shape

(20640, 11)

## STEP 2 : Package importing

In [6]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

# from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

from sklearn.pipeline import Pipeline                
from sklearn.compose import ColumnTransformer

from sklearn.model_selection import train_test_split

## STEP 3 : Pipeline

In [7]:
df = houses.copy()

In [8]:
def num_cat_col_list(DF) : 
    
    from pandas.api.types import is_string_dtype, is_numeric_dtype
   
    num_list = []
    cat_list = []

    for column in DF:

        if is_numeric_dtype(DF[column]):
            num_list.append(column)

        elif is_string_dtype(DF[column]):
            cat_list.append(column)

    return (num_list , cat_list)

In [9]:
num_list , cat_list = num_cat_col_list(DF = df)

print("Numerical column : ",num_list)
print()
print("Categorical column : ",cat_list)

Numerical column :  ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'population', 'median_income', 'median_house_value', 'rooms_per_household', 'bedrooms_per_room', 'population_per_household']
Categorical column :  ['ocean_proximity']

### Making changes to num_feat and cat_feat list

In [10]:
# num_list

num_feat = num_list.copy()
num_feat.remove('median_house_value')

cat_feat = cat_list.copy()

In [11]:
def pipeline_trans(DF,num_feat ,cat_feat):
    
    # Separating Independent and dependent variables
    X  = DF.drop(labels = ['median_house_value' ], axis = 1)
    y  = DF['median_house_value']
    
    # Train-Test Split
    X_train,X_test,y_train,y_test = train_test_split(X,y , random_state= 100 ,test_size = 0.2 )
    
    # Pipeline
    ohe = OneHotEncoder()
    
    num_pipeline = Pipeline([('Imputer' , SimpleImputer(strategy='median')) ,
                             ("scaling", StandardScaler())
                            ])
    
    cat_pipeline = Pipeline([('Nominal Encoding' ,ohe)])
    
    pipeline = ColumnTransformer([("Num pipeline" , num_pipeline , num_feat),
                                ("Nominal pipeline" , cat_pipeline , cat_feat)
                                ])
    
    # Fit and Transformation
    X_train_tr = pipeline.fit_transform(X_train)
    X_test_tr =  pipeline.transform(X_test)
    
    # Output Columns after tranformation
    out_cols = []

    i= 0  # counter

    for col in pipeline.get_feature_names_out():
        out_cols.append(col.split("__")[-1])
        #out_cols[i] = out_cols[i].split("_")[-1]

        i += 1
    # print(out_cols)
    
    # Conversion to train and test Dataframes
    X_train_tr_df = pd.DataFrame(X_train_tr, columns= out_cols)
    X_test_tr_df = pd.DataFrame(X_test_tr , columns = out_cols)
    
    y_train.reset_index(drop = True , inplace = True)
    y_test.reset_index(drop = True , inplace = True)
    
    df_train_trans = pd.concat([X_train_tr_df,y_train] ,axis = 1 )
    df_test_trans = pd.concat([X_test_tr_df,y_test] ,axis = 1 )
    
    return df_train_trans,df_test_trans

In [12]:
df_train_tr ,df_test_tr = pipeline_trans(DF = df , num_feat = num_feat , cat_feat = cat_feat)

In [13]:
df_train_tr.head(3)

,longitude,latitude,housing_median_age,total_rooms,population,median_income,rooms_per_household,bedrooms_per_room,population_per_household,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,median_house_value
0,-1.554442,1.636779,-1.240082,-0.970473,-1.064046,-0.249954,1.262319,-0.078290,0.031965,0.0,1.0,0.0,0.0,0.0,108300.0
1,-0.623047,-0.148644,-1.398615,0.278105,0.334906,-0.339735,-0.199874,0.040216,-0.029367,0.0,0.0,0.0,0.0,1.0,183200.0
2,-1.360194,2.267753,-0.843750,0.633399,0.262335,-0.272571,0.113653,-0.597804,-0.054939,0.0,1.0,0.0,0.0,0.0,118400.0

In [14]:
df_test_tr.head(3)

,longitude,latitude,housing_median_age,total_rooms,population,median_income,rooms_per_household,bedrooms_per_room,population_per_household,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,median_house_value
0,0.736691,-0.854400,0.583043,-0.704691,-0.862947,-0.086419,0.340263,-0.815927,-0.050302,1.0,0.0,0.0,0.0,0.0,245300.0
1,-1.340271,1.019826,1.851305,-0.466451,-0.235167,-1.380994,-0.540981,1.140670,-0.015714,0.0,0.0,0.0,1.0,0.0,104200.0
2,0.228657,-0.125275,-1.240082,0.863376,0.646173,0.505882,0.528296,-0.955074,0.012981,0.0,1.0,0.0,0.0,0.0,146200.0

In [15]:
D_train = df_train_tr.copy()
D_test = df_test_tr.copy()

## STEP 5 : Export the DF as a .csv file.

In [16]:
D_train.to_csv("S3_Part3_test_pipeline_Train_DS.csv")

In [17]:
D_test.to_csv("S3_Part3_test_pipeline_Test_DS.csv")